# Node.js 依赖
node_modules/
**/node_modules/
node_modules.meta
**/node_modules.meta

# npm
package-lock.json
**/package-lock.json
**/package-lock.json.meta

# Python 缓存
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
__pycache__.meta
**/__pycache__.meta
*.pyc.meta
**/*.pyc.meta
